{
  "extends": ["eslint:recommended", "google"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  # "plugins": {
  #   "html"
  # },
  "ecmaFeatures": {
    # "arrowFunctions": true,
    # "binaryLiterals": true",
    # "blockBindings": true,
    # "classes": true,
    # "defaultParams": true,
    # "destructuring": true,
    # "forOf": true,
    # "generators": true,
    # "modules": true,
    # "objectLiteralComputedProperties": true,
    # "objectLiteralDuplicateProperties": true,
    # "objectLiteralShorthandMethods": true,
    # "objectLiteralShorthandProperties": true,
    # "octalLiterals": true,
    # "regexUFlag": true,
    # "regexYFlag": true,
    # "spread": true,
    # "superInFunctions": true,
    # "templateStrings": true,
    # "unicodeCodePointEscapes": true,
    # "globalReturn": true
  },
  "rules": {
    "max-len": ["error", 150],
    "no-console": "warn",
    # "semi": ["error", "always"],
    # "space-before-function-paren": ["error", "never"],
    # "comma-dangle": ["error", "always-multiline"],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1 }]
    # "object-curly-spacing": ["error", "never"],
    # "prefer-const": "off"
  }
}
